/* general */
p{
    font-family: "Roboto serif";
    padding-bottom: 0px;
}

div.container-fluid{
    margin: 0;
    padding: 0;
}
.navbar-light {
    background-color: #f5f3f4ff !important;
    color: #8b8c89 !important;
    font-family: 'Roboto serif';
    border-bottom: 2px #8b8c89 !important;
}
.return-button{
    background-color: #8b8c89 !important;
    border: 1px solid #8b8c89 !important;
}
/* home.html */

/* Center the content horizontally and vertically */
.mt-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vw;
    margin: 0px;
}
/* Style the heading on home.html */
#click-to-start-text {
    font-size: 2rem; /* Adjust as needed */
    margin: 0px;
    font-family: 'Roboto serif';
    text-align: center;
    padding-bottom: 20px;
}
/* Style the "Start" button */
#home-start-button.btn-primary {
    margin-top: 1rem; /* Adjust spacing as needed */
    background-color: #a2d2ffff; /* Change button color to green */
    color: black; /* Text color */
    border-color: #a2d2ffff; /* Border color */
    font-family: 'Roboto serif';
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 35px;
}
#home-start-button.btn-primary:hover {
    background-color: rgb(124, 192, 255); /* Darken button color on hover */
    border-color: rgb(124, 192, 255);
    color: black;
}
div.row{
    padding-bottom: 15px;
}
body{
    background-color: #daffefff;
}

/* home2.html */

#click-country-text{
    font-size: 2rem; /* Adjust as needed */
    margin: 0px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto serif';
    padding-bottom: 20px;
}
img.img-fluid.country-map-image:hover{
    border: 10px solid rgb(124, 192, 255);
    box-shadow: 10px 10px 5px lightblue;
}
.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* learn.html */

div.container{
    padding: 0px 0px;
}
.learn-title-heading{
    font-size: 2rem; /* Adjust as needed */
    margin: 0px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto serif';
    padding-bottom: 20px;
    font-weight:500;
}
.learn-card-description{
    background-color: #f5f3f4ff;
    border: 1px solid #8b8c89;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.learn-card-picture{
    width: 50rem;
    height: max-content;
}
.learn-card:hover{
    box-shadow: 10px 10px 5px lightblue;
}
.architectural-style-title{
    font-size: 1.5rem; /* Adjust as needed */
    margin: 0px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto serif';
    padding-bottom: 20px;
}

#learn-more-button.btn-primary {
    background-color: #a2d2ffff; /* Change button color to green */
    color: black; /* Text color */
    border-color: #a2d2ffff; /* Border color */
    font-family: 'Roboto serif';
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    display: block;
    margin: auto 0;
}
#learn-more-button.btn-primary:hover {
    background-color: rgb(124, 192, 255); /* Darken button color on hover */
    border-color: rgb(124, 192, 255);
    color: black;
}

/* lesson.html */
.lesson-title-heading{
    font-size: 2rem; /* Adjust as needed */
    margin: 0px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto serif';
    padding-bottom: 20px;
    font-weight:500;
}
.lesson-text{
    border: 1px solid #8b8c89;
    background-color: #f5f3f4ff;
    height: max-content;
    padding-top: 15px;
    padding-bottom: 15px;
}
.lesson-card-caption{
    background-color: #8b8c89;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.lesson-card-picture{
    width: 50rem;
    height: max-content;
}
.return-button{
    margin-top: 15px;
}

/* styles.css */

/* Gallery styles */
.gallery-container {
    position: relative;
    max-width: 100%; /* Adjust as needed */
    overflow: hidden; /* Ensure that images are cropped if they exceed container size */
}
  
.gallery {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling if images exceed container width */
}
  
.gallery img {
    width: auto;
    height: 100%; /* Maintain aspect ratio */
    min-width: 100%; /* Ensure image covers the entire container width */
    object-fit: cover; /* Crop image to cover the container */
    display: block;
}
  
button.prev, button.next {
    background: #a2d2ffff; /* Adjust button styles as needed */
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #a2d2ffff;
}
button.prev:hover, button.next:hover {
    background-color: rgb(124, 192, 255); /* Darken button color on hover */
    border-color: rgb(124, 192, 255);
    color: black;
}
.prev {
    left: 10px;
}
  
.next {
    right: 10px;
    margin-left: 370px;
}