{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{ lesson['title'] }}</h1>
                {% for i in range(0, lesson['card_text_title']|length) %}
                 <div class="container">
                                <h5>{{ lesson['card_text_title'][i] }}</h5>
                                <img src="{{ url_for('static', filename=lesson['card_images'][i]) }}">
                                <p>{{ lesson['card_text'][i] }}</p>
                                <p>Click <a href="/lesson/{{ lesson['lesson_id'] }}/{{ i }}">here</a> to learn more!</p>
                      </div>
                {% endfor %}
          </div>

{% endblock %}
