{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="learn-title-heading">{{ lesson['title'] }}</div>
    <div class="row">
    {% for i in range(0, lesson['card_text_title']|length) %}
        <div class="col-4">
            <div class="container">
                <div class="architectural-style-title">{{ lesson['card_text_title'][i] }}</div>
                <div class="learn-card">
                    <img style="height: 200px;" class="img-fluid learn-card-picture" src="{{ url_for('static', filename=lesson['card_images'][i]) }}" alt="Image of {{ lesson['card_text_title'][i] }}">
                    <div class="learn-card-description">
                        <p>{{ lesson['card_text'][i] }}</p>
                        <a id="learn-more-button" class="btn btn-primary" href="/lesson/{{ lesson['lesson_id'] }}/{{ i }}">Click here to learn more</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <a href="/home2" class="btn btn-secondary mb-3">Back to Home</a>  <!-- Back button to home2 -->
                {% if previous_lesson_id %}
                    <a href="{{ url_for('learn', lesson_id=previous_lesson_id) }}" class="btn btn-secondary mb-3">Previous Country</a>
                {% endif %}
            </div>
            <div class="col-auto">
                {% if next_lesson_id %}
                    <a href="{{ url_for('learn', lesson_id=next_lesson_id) }}" class="btn btn-secondary mb-3">Next Country</a>
                {% else %}
                    <a href="{{ url_for('quiz_page', quiz_id=1) }}" class="btn btn-secondary mb-3">Take Quiz</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
