{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="lesson-title-heading">{{ lesson['country'] }} - {{ lesson['card_text_title'][index] }}</div>
        <div class="container">
            <p>{{ lesson['texts'][index] }}</p>
            {% for i in range(0, lesson['images'][index]|length) %}
                <img src="{{ url_for('static', filename=lesson['images'][index][i]) }}">
                <p>{{ lesson['image_captions'][index][i] }}</p>
            {% endfor %}
        </div>
</div>
{% endblock %}
