{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="lesson-title-heading">{{ lesson['country'] }} - {{ lesson['card_text_title'][index] }}</div>
    <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <button class="prev">Previous</button>
                    <button class="next">Next</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="lesson-card gallery-container">
                        {% for i in range(0, lesson['images'][index]|length) %}
                            <div class="gallery">
                                <img style="height: 250px;" class="img-fluid lesson-card-picture" src="{{ url_for('static', filename=lesson['images'][index][i]) }}" alt="{{ lesson['image_captions'][index][i] }}">
                            </div>
                            <div class="lesson-card-caption">
                                <p>{{ lesson['image_captions'][index][i] }}</p>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-6 lesson-text">
                    <p>{{ lesson['texts'][index] }}</p>
                </div>
            </div>

    </div>
    <a href="/learn/{{ lesson['lesson_id'] }}" class="btn btn-secondary mb-3 return-button">Return to {{ lesson['country'] }} Overview</a>  <!-- Back button to learn page -->
</div>
{% endblock %}
