{% extends 'layout.html' %}

{% block content %}


<div class="container">
    <p id="click-country-text">Question {{ quiz_id }} out of {{ quiz|length }}: Match the architectural style to the Country</p>
    <div class="row quiz-question">
        <div class="col-6 text-center">
            <img style="height: 250px;" src="{{ url_for('static', filename=quiz['image']) }}">
        </div>
        <div class="col-6">
            <p>Options:</p>
            <ul>
                {% for option in quiz['options'] %}
                <li>{{ option }}</li>
                {% endfor %}
            </ul>
            <form id="quizForm" method="post">
                <label for="answer">Select your answer:</label>
                <select name="option" id="answer">
                    {% for option in quiz['options'] %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
                <button id="quiz-submit-button" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal Popup -->
<div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quizModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="quizModalBody">
                <!-- Popup content will be dynamically inserted here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="nextQuestionBtn" type="button" class="btn btn-primary">Next Question</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const nextQuestionBtn = document.getElementById('nextQuestionBtn');
        const isLastQuestion = {{ is_last_question | tojson }};  // Convert boolean to JavaScript-readable format

        nextQuestionBtn.addEventListener('click', function () {
            if (isLastQuestion) {
                window.location.href = '{{ url_for("quiz_results") }}';  // Go to results page
            } else {
                window.location.href = window.location.href.replace(/\d+$/, function(n){ return ++n });  // Increment current quiz_id
            }
        });
    });
</script>

{% endblock %}
